@CHARSET "UTF-8";

a:link {
	color: #FF6600 ;
	text-decoration: none;
}

a:visited {
	color: #FF6600 ;
	text-decoration: none;
}

a:hover {
	color: #FF6600 ;
	text-decoration: none;
}

a:active {
	color: #FF6600 ;
	text-decoration: none;
}

#userInfo{
	width: 100%;
	text-align: center;
	font-size: 200%;
}

#listTable{
	width: 100%;
	background-color: #FEDCBA;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

#groupDiv {
	width: 100%;
	height: 100%;
}

#gamesDiv{
	width: 90%;
	height: 100%;
	float: left;
}

#leaderboardDiv{
	width: 90%;
	height: 100%;
	float: right;
	margin-right: 10px;
}

.predictionsTable {
	width: 100%;
}

.predictionsTable .with_border, .datetime{
	/*border: 1px solid black;*/
	text-align: left;
}

.predictionsTable #team_name{
	width: 22%;
}

.predictionsTable #score_cell{
	width: 5%;
	text-align: center;
}

.predictionsTable #hostScore{
	width: 5%;
	text-align: center;
}

.predictionsTable #guestScore{
	width: 5%;
	text-align: center;
}

.predictionsTable .scoreInput{
	width: 100%;
}

.predictionsTable .datetime{
	text-align: right;
}

.predictionsTable #datetime_header{
	text-align: right;
}

.leaderboardTable{
	float:right;
	width:100%;
}

.ldb_name{
	text-align: left;
}

.ldb_points{
	text-align: right;
}

#errorMessage{
	height: 20px;
	background-color: #FF0000;
	text-align: center;
}

#successMessage{
	height: 20px;
	background-color: #33CC66;
	text-align: center;
}

#hostScore{
	width: 30px;
}